<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">Bienvenido/a, <%= name %></span>
  <span><i class="bi bi-cart my-2 my-lg-0"></i></span>
  <button
    class="btn btn-outline-warning my-2 my-sm-0"
    onclick="location.href='/logout'"
  >
    LogOut
  </button>
</nav>
